footer
  section
    article
      :markdown
        Thanks for visiting. Check out my [projects](/#projects),
        [design portfolio](/portfolio), and [blog posts](/#posts).

        Find me on [Twitter](http://twitter.com/zeke) and
        [GitHub](http://github.com/zeke), or send me an [email](mailto:zeke@sikelianos.com).

      p
        a.unstyled(href="https://asciiface.herokuapp.com") ʕ•ᴥ•ʔ
