head
  title Zeke Sikelianos, Internet Designer/Developer
  meta(name="viewport" content="width=device-width, initial-scale=1")

  link(href='//fonts.googleapis.com/css?family=Roboto+Slab:400|PT+Serif:400', rel='stylesheet', type='text/css')
  link(href='/assets/styles.css', rel='stylesheet', type='text/css')

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  script(src="/assets/app.js")
