<!DOCTYPE html>
<html>

<head>
  {% if page.title == "Zeke Sikelianos"  %}
    <title>Zeke Sikelianos, Designer/Developer</title>
  {% else %}
    <title>{{page.title}} | Zeke Sikelianos</title>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- OpenGraph Meta Tags -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Zeke Sikelianos" />
  {% if page.title == "Zeke Sikelianos"  %}
    <meta property="og:title" content="Zeke Sikelianos, Designer/Developer" />
  {% else %}
    <meta property="og:title" content="{{page.title}}" />
  {% endif %}
  {% if page.description %}
    <meta property="og:description" content="{{page.description}}" />
    <meta name="description" content="{{page.description}}" />
  {% endif %}
  <meta property="og:url" content="https://zeke.sikelianos.com{{page.href}}" />
  {% if page.images.thumbnail %}
    <meta property="og:image" content="https://zeke.sikelianos.com{{page.images.thumbnail.href}}" />
    <meta property="og:image:alt" content="{{page.title}}" />
  {% endif %}

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary{% if page.images.thumbnail %}_large_image{% endif %}" />
  <meta name="twitter:site" content="@zeke" />
  <meta name="twitter:creator" content="@zeke" />
  {% if page.title == "Zeke Sikelianos"  %}
    <meta name="twitter:title" content="Zeke Sikelianos, Designer/Developer" />
  {% else %}
    <meta name="twitter:title" content="{{page.title}}" />
  {% endif %}
  {% if page.description %}
    <meta name="twitter:description" content="{{page.description}}" />
  {% endif %}
  {% if page.images.thumbnail %}
    <meta name="twitter:image" content="https://zeke.sikelianos.com{{page.images.thumbnail.href}}" />
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="Zeke Sikelianos" href="/feed.xml" />

  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://unpkg.com/browser-date-formatter@3.0.2/dist.js"></script>
  <script src="/index.js"></script>
</head>

<body>

  {% if page.images.thumbnail.colors %}
    <div class="color-bar">
      {% for color in page.images.thumbnail.colors %}
        <div style="background:{{color}};"></div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="site-nav">
    <a href="/">Gallery</a>
    <a href="/projects">Projects</a>
    <a href="/talks">Talks</a>
    <a href="/posts">Posts</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/cv">CV</a>
    <a href="/contact">Contact</a>
  </div>

  <article>
    <div class="page__content">
      <header>
        <h1 class="page__title">{{page.title}}</h1>
        {% if page.description %}
          <h2 class="page__description">{{page.description}}</h2>
        {% endif %}
        {% if page.publish_date %}
          <div class="page__publish-date">
            {% if page.update_date %}
              Published 
              <time title="{{page.publish_date}}" data-date="{{page.publish_date}}" data-format="%B %Y">{{page.publish_date}}</time>
              and last updated 
              <time title="{{page.update_date}}" data-date="{{page.update_date}}" data-format="%B %Y">{{page.update_date}}</time>
            {% else %}
              <time title="{{page.publish_date}}" data-date="{{page.publish_date}}" data-format="%B %Y">{{page.publish_date}}</time>
            {% endif %}
          </div>
        {% endif %}
      </header>

      {{renderedPage}}
    </div>
  </article>

  <footer>
    <div class="site-nav">
      <a href="/">Gallery</a>
      <a href="/projects">Projects</a>
      <a href="/talks">Talks</a>
      <a href="/posts">Posts</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/cv">CV</a>
      <a href="/contact">Contact</a>
      <a href="/feed.xml">RSS</a>
    </div>
  </footer>
</body>
</html>
