<!DOCTYPE html>
<html>

<head>
  <title>Zeke Sikelianos, Designer/Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/index.css">
  <script src="https://unpkg.com/browser-date-formatter@3.0.2/dist.js"></script>
  <script src="/index.js"></script>
</head>

<body>

  {% if page.images.thumbnail.colors %}
    <div class="color-bar">
      {% for color in page.images.thumbnail.colors %}
        <div style="background:{{color}};"></div>
      {% endfor %}
    </div>
  {% endif %}

  {% unless page.href == '/' %}
    <div class="breadcrumbs muted">
      <a href="/">zeke.sikelianos.com</a>
    </div>
  {% endunless %}

  <article>
    <div class="page__content">
      <header>
        <h1 class="page__title">{{page.title}}</h1>
        {% if page.description %}
          <h2 class="page__description">{{page.description}}</h2>
        {% endif %}
        {% if page.publish_date %}
          <div class="page__publish-date">
            {% if page.update_date %}
              Published 
              <time title="{{page.publish_date}}" data-date="{{page.publish_date}}" data-format="%B %Y">{{page.publish_date}}</time>
              and last updated 
              <time title="{{page.update_date}}" data-date="{{page.update_date}}" data-format="%B %Y">{{page.update_date}}</time>
            {% else %}
              <time title="{{page.publish_date}}" data-date="{{page.publish_date}}" data-format="%B %Y">{{page.publish_date}}</time>
            {% endif %}
          </div>
        {% endif %}
      </header>

      {{renderedPage}}
    </div>
  </article>

  <footer>

    <div id="footer-site-nav">
      <a href="/">Home</a>
      <a href="/bio">Bio</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/contact">Contact Me</a>
    </div>

    <!-- <p class="text-small text-center faint">
      Built with
      <a href="http://jus.js.org">jus</a>,
      developed on
      <a href="https://github.com/zeke/zeke.sikelianos.com">GitHub</a>,
      and deployed on
      <a href="https://surge.sh">Surge</a>.
    </p> -->

  </footer>
</body>
</html>