#bar
  h3
    | A scrapbook of design work by&nbsp;
    a(href="/") Zeke Sikelianos
    | .

#images
  - each image in public.assets.images._data
    a(href=image.url title=image.title)
      img(src=image.urls.medium alt=image.title)
