body {
  background: #e8e8e8 url(../images/bg_paper.jpg);
  position: relative;
  width: 20000px;
}

#content {
  margin: 0 0 0 0;
  padding: 20px 100px 20px 60px;
}
#content.invisible {
  visibility: hidden;
}
#content p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: #42403a;
}
#content p a.a {
  color: #436900;
  border-bottom: 1px dashed #436900;
  text-decoration: none;
}
#content p a.a:hover {
  border-bottom-width: 2px;
  border-style: solid;
}
#content p a.b {
  color: #577c0c;
  border-bottom: 1px dashed #577c0c;
  text-decoration: none;
}
#content p a.b:hover {
  border-bottom-width: 2px;
  border-style: solid;
}
#content p a.c {
  color: #829719;
  border-bottom: 1px dashed #829719;
  text-decoration: none;
}
#content p a.c:hover {
  border-bottom-width: 2px;
  border-style: solid;
}
#content p a.d {
  color: #ac9d03;
  border-bottom: 1px dashed #ac9d03;
  text-decoration: none;
}
#content p a.d:hover {
  border-bottom-width: 2px;
  border-style: solid;
}
#content p a.e {
  color: #b8a501;
  border-bottom: 1px dashed #b8a501;
  text-decoration: none;
}
#content p a.e:hover {
  border-bottom-width: 2px;
  border-style: solid;
}
#content p a.f {
  color: #e7c100;
  border-bottom: 1px dashed #e7c100;
  text-decoration: none;
}
#content p a.f:hover {
  border-bottom-width: 2px;
  border-style: solid;
}
#content p a.g {
  color: #e8c13a;
  border-bottom: 1px dashed #e8c13a;
  text-decoration: none;
}
#content p a.g:hover {
  border-bottom-width: 2px;
  border-style: solid;
}
#content p a.h {
  color: #daac00;
  border-bottom: 1px dashed #daac00;
  text-decoration: none;
}
#content p a.h:hover {
  border-bottom-width: 2px;
  border-style: solid;
}
#content p a.i {
  color: #c79a18;
  border-bottom: 1px dashed #c79a18;
  text-decoration: none;
}
#content p a.i:hover {
  border-bottom-width: 2px;
  border-style: solid;
}
#content p span.j {
  color: #8f6906;
}
#content p a.j {
  color: #4b2600;
  border-bottom: 1px dashed #4b2600;
  text-decoration: none;
}
#content p a.j:hover {
  border-bottom-width: 2px;
  border-style: solid;
}

/* Hide webkit stuff until its ready */
.wf-loading {
  visibility: hidden;
}
