<!--

  Idea, implementation, and imagery stolen wholesale from:

  http://death.rubyforge.org/
  http://commons.wikimedia.org/wiki/File:Drawing_fox_face.svg

-->

<script src="parallax.js"></script>

<style type="text/css">
  body {
    margin: 0;
    padding: 0;
  }
  .layer {
    width: 100%;
    height: 100%;
  }
  #layer0 { background: url(fox0.png); }
  #layer1 { background: url(fox1.png); }
  #layer2 { background: url(fox2.png); }
</style>

<body onLoad="setup();">
  <div id="layer0" class="layer">
  <div id="layer1" class="layer">
  <div id="layer2" class="layer">
</body>
