<!DOCTYPE html>
<html>

<head>
  <title>Zeke Sikelianos, Designer/Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400|PT+Serif:400" rel="stylesheet" type="text/css" /> -->
  <!-- <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic'> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css">
  <link rel="stylesheet" href="/assets/styles/index.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/assets/scripts/third-party/jquery.tipsy.js"></script>
  <script src="/assets/scripts/index.js"></script>
</head>

<body>

  {{{body}}}

  <footer>
    <!-- <a href="/#projects">Projects</a> &sdot; -->
    <!-- <a href="/portfolio">Portfolio</a> &sdot; -->
    <!-- <a href="/#posts">Posts</a> &sdot; -->
    <div class="footer-inner">
      <a href="http://twitter.com/zeke" rel="tipsy" title="@zeke on Twitter">
        <span class="fa fa-twitter"></span>
        <span class="text">zeke on twitter</span>
      </a>
      <a href="http://github.com/zeke" rel="tipsy" title="@zeke on GitHub">
        <span class="devicons devicons-github_badge"></span>
        <span class="text">zeke on GitHub</span>
      </a>
      <a href="http://npmjs.com/~zeke" rel="tipsy" title="~zeke on npm">
        <span class="devicons devicons-npm"></span>
        <span class="text">zeke on npm</span>
      </a>
      <a href="https://rubygems.org/profiles/sikelianos" rel="tipsy" title="sikelianos on Rubygems">
        <span class="devicons devicons-ruby_rough"></span>
        <span class="text">sikelianos on Rubygems</span>
      </a>
      <a href="https://www.instagram.com/sikelianos/" rel="tipsy" title="sikelianos on Instagram">
        <span class="fa fa-instagram"></span>
        <span class="text">sikelianos on Instagram</span>
      </a>
    </div>
  </footer>
</body>

</html>
