<!DOCTYPE html>
<html>

<head>
  <title>Zeke Sikelianos, Designer/Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400|PT+Serif:400" rel="stylesheet" type="text/css" /> -->
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- <script src="/assets/app.js"></script> -->
</head>

<body>

  <div id="content">
    {{{body}}}
  </div>

  <footer>
    <!-- <a href="/#projects">Projects</a> &sdot; -->
    <!-- <a href="/portfolio">Portfolio</a> &sdot; -->
    <!-- <a href="/#posts">Posts</a> &sdot; -->
    <a href="http://twitter.com/zeke"><span class="fa fa-twitter"></span>zeke</a>
    <a href="http://github.com/zeke"><span class="fa fa-github"></span>zeke</a>
    <a href="http://npmjs.com/~zeke">~zeke</a>
    <a href="mailto:zeke@sikelianos.com">zeke@sikelianos.com</a>
  </footer>
</body>

</html>
