<!DOCTYPE html>
<html>

<head>
  <title>Zeke Sikelianos, Designer/Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>

  <!-- <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400|PT+Serif:400" rel="stylesheet" type="text/css" /> -->
  <link href="/assets/styles/index.css" rel="stylesheet" type="text/css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- <script src="/assets/app.js"></script> -->
</head>

<body>

  {{{body}}}

  <footer>
    <!-- <a href="/#projects">Projects</a> &sdot; -->
    <!-- <a href="/portfolio">Portfolio</a> &sdot; -->
    <!-- <a href="/#posts">Posts</a> &sdot; -->
    <div class="footer-inner">
      <a href="http://twitter.com/zeke">
        <span class="fa fa-twitter"></span>
        <span class="text">zeke on twitter</span>
      </a>
      <a href="http://github.com/zeke">
        <span class="devicons devicons-github_badge"></span>
        <span class="text">zeke on github</span>
      </a>
      <a href="http://npmjs.com/~zeke">
        <span class="devicons devicons-npm"></span>
        <span class="text">zeke on npm</span>
      </a>
      <a href="https://rubygems.org/profiles/sikelianos">
        <span class="devicons devicons-ruby_rough"></span>
        <span class="text">sikelianos on rubygems</span>
      </a>
      <a href="https://www.instagram.com/sikelianos/">
        <span class="fa fa-instagram"></span>
        <span class="text">sikelianos on instagram</span>
      </a>
    </div>
  </footer>
</body>

</html>
