<!DOCTYPE html>
<html>

<head>
  <title>Zeke Sikelianos, Designer/Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>
  <!-- <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400|PT+Serif:400" rel="stylesheet" type="text/css" /> -->
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/assets/app.js"></script>
</head>

<body>

  <div id="content">
    {{{body}}}
  </div>


  <!-- <section>
    <article>
      <h2 id="subscribe">Subscribe</h2>
      <p>I&#39;ll send you an email when new things are posted to the site. I promise not to spam you or share your email address.</p>
      <form action="//sikelianos.us6.list-manage.com/subscribe/post?u=eb1baf73af6cc872dd06ed858&amp;id=7f60b90055" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="novalidate">
        <input type="text" value="" name="FNAME" placeholder="First name" autcorrect="off">
        <input type="text" value="" name="LNAME" placeholder="Last name" tabindex="2">
        <input type="email" value="" name="EMAIL" placeholder="Email address" required="required" tabindex="3">
        <input type="text" name="b_eb1baf73af6cc872dd06ed858_7f60b90055" tabindex="-1" value="" style="width:0;height:0;opacity:0" class="honey">
        <input type="submit" value="Subscribe" name="subscribe" tabindex="4">
      </form>
    </article>
  </section> -->

  <footer>
    <section>
      <article>
        <a href="/#projects">Projects</a> &sdot;
        <a href="/portfolio">Portfolio</a> &sdot;
        <a href="/#posts">Posts</a> &sdot;
        <a href="http://twitter.com/zeke">Twitter</a> &sdot;
        <a href="http://github.com/zeke">GitHub</a> &sdot;
        <a href="mailto:zeke@sikelianos.com">Email</a>

        <!-- <p><a href="https://asciiface.herokuapp.com" class="unstyled">ʕ•ᴥ•ʔ</a></p> -->
      </article>
    </section>
  </footer>
</body>

</html>
