body {
  font-family: monaco, monospace;
  background-color: rgb(29, 31, 33);
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 3px 10px;
  width: 50%;
  vertical-align: top
}

th {
  color: #666;
  padding: 20px 20px 10px 20px;
  /*border-bottom: 1px solid blue;*/
  /*background-color: rgb(23, 25, 27);*/
}

th.title {
  /*color: white;*/
}

tr:hover, tr:hover td pre {
  background-color: rgb(25, 27, 29);
}

pre {
  margin-bottom: 0 !important;
}

footer {
  margin: 100px 0 40px 0;
  text-align: center;
  color: #444;
}

footer a {
  text-decoration: none;
  color: #555;
}

footer a:hover {
  color: #f0c674;
}