<div class="color-bar">
  {{#each page.images.thumbnail.colors}}
    <div style="background:{{this}};"></div>
  {{/each}}
</div>

<div class="breadcrumbs muted">
  <a href="/">zeke.sikelianos.com</a>
  {{#if page.grandparent}} ￫ <a href="{{page.grandparent}}">{{page.grandparentName}}</a>{{/if}}
  {{#if page.parent}} ￫ <a href="{{page.parent}}">{{page.parentname}}</a>{{/if}}
</div>

<article>
  <div class="page-content">
    <header>
      <h1>{{page.title}}</h1>
      {{#if page.description}}
        <h2>{{page.description}}</h2>
      {{/if}}
    </header>

    {{{page.content.processed}}}
  </div>
</article>
