@import '../variables.css';
@import '../util.css';
@import '../base.css';

/* .cards extends .vanilla-list (see util.css) */
.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  float: none;
  clear: both;
  overflow: hidden;
}

/* .card extends .float-left (see util.css) */
.card {
  display: block;
  float: left;
  clear: none;
  height: 360px;
  margin: 0 0 40px 0;
  padding: 0 calc(var(--card-gutter-width) / 2) 20px calc(var(--card-gutter-width) / 2);
}

/* max-width: 480px. .card also extends .float-none within this breakpoint. */
@media screen and (max-width: 480px) {
  .card {
    float: none;
    clear: both;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 0;
  }
}

.card-inner {
  width: var(--card-width);
  display: block;
  -webkit-box-shadow: 0px 1px 15px 1px var(--color-shadow);
  -moz-box-shadow: 0px 1px 15px 1px var(--color-shadow);
  box-shadow: 0px 1px 15px 1px var(--color-shadow);
}

@media screen and (max-width: 480px) {
  .card-inner {
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.card-thumbnail {
  display: block;
  width: 100%;
  height: var(--card-thumbnail-height);
  overflow: hidden;
  background: var(--card-background-color);
}

.card-thumbnail img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .card-thumbnail {
    height: auto;
    background: none;
  }
}

.card-details {
  padding: 14px 20px;
  overflow: hidden;
  text-align: center;
  background: var(--card-background-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 480px) {
  .card-details {
    background: none;
    padding: 0px 20px;
  }
}

.card-details-title {
  font-size: 1rem;
  line-height: 1.6;
  text-decoration: none;
}

/* .card-details-description extends .faint, .unpadded, .small-text (see util.css) */
.card-details-description {
  font-size: 0.9rem;
  opacity: 0.5;
  padding: 0;
  text-align: center;
  line-height: 1.4;
}
