@require '../variables'
@require '../util'
@require '../base'

.column-3
  line-height 0
  -webkit-column-count 3
  -webkit-column-gap 0px
  -moz-column-count 3
  -moz-column-gap 0px
  column-count 3
  column-gap 0px

.portfolio-piece
  display inline-block
  position relative
  width 100%

.portfolio-piece-image
  width: 100%
  position absolute
  top 0
  left 0
  height auto
