@require '../variables'
@require '../util'
@require '../base'

.column-3
  line-height 0
  -webkit-column-count 3
  -webkit-column-gap 0px
  -moz-column-count 3
  -moz-column-gap 0px
  column-count 3
  column-gap 0px
  a, img
    width 100% !important
    height auto !important
