.cv-logos
  display flex
  flex-wrap wrap
  align-items center
  gap 16px
  margin 20px 0 40px

  .image-matte
    display inline-flex
    align-items center
    padding 10px
    border-radius 8px

  img
    height 40px
    width auto
    margin 0
