@require '../variables'
@require '../util'
@require '../base'

footer
  margin-top 0
  text-align center
  padding-bottom 20px

#footer-site-nav
  margin 60px 0 60px 0
  display block
  text-align center
  line-height 2

  a
    display inline-block
    transition all 0.3s
    font-size 1rem
    line-height 1
    color black
    opacity 0.5
    &:hover
      opacity 1
    &:after
      content " / "
      text-align center
      display inline-block
      width 50px
      opacity 0.3
    &:last-child:after
      display none


#footer-social-nav
  @extend .no-float
  display inline-block

  a
    @extend .float-left
    transition all 0.3s
    width 54px
    height 42px
    font-size 2rem
    margin 10px
    text-decoration none !important
    line-height 30px
    color #999
    // border 1px solid red
    @media screen and (max-width mobile-width)
      width 100%
      font-size 4rem

  span.fa, span.devicons
    transition all 0.3s

  .fa
    font-size 1.8rem
    padding-top 4px
  .devicons
    font-size 2.2rem
  .devicons-npm
    font-size 3rem
    line-height 0.8

  :hover .fa-twitter
    color color-twitter
  :hover .devicons-github_badge
    color color-github
  :hover .devicons-npm
    color color-npm
  :hover .devicons-ruby_rough
    color color-rubygems
  :hover .fa-flickr
    color color-flickr
  :hover .fa-instagram
    color color-instagram

  .text
    display none
