@require '../variables'
@require '../util'
@require '../base'

footer
  margin-top 100px
  text-align center
  padding-bottom 20px

.site-nav
  margin 15px 0 15px 0
  display block
  text-align center
  line-height 2
  padding 0 20px

  a
    display inline-block
    transition all 0.3s
    font-size 1rem
    line-height 1
    color black
    opacity 0.5
    &:hover
      opacity 1
    &:after
      content " / "
      text-align center
      display inline-block
      margin 0 18px
      opacity 0.3
    &:last-child:after
      display none

  @media screen and (max-width mobile-width)
    padding 0 14px
    a
      &:after
        margin 0 12px
