fieldset
  border none
  margin 20px 0
  padding 0

label
  text-align center

label span
  padding 10px
  display block

input, textarea
  width 100%
  font-size 1.1em
  padding 10px
  line-height 1.4
  font-family base-font-family

textarea
  min-height 300px

input[type=submit]
  background #d30a6b
  color white
  border none
  border-radius 4px
  cursor pointer