@require '../variables'
@require '../util'
@require '../base'

.breadcrumbs
  // background darken(color-background, 10%)
  font-size 1rem
  padding 15px

.home-nav
  padding 60px 10px

.color-bar
  height 30px
  @extend .no-float
  > div
    @extend .float-left
    height 100%
    width 20%
