@require '../variables'
@require '../util'
@require '../base'

.breadcrumbs
  font-size 1rem
  padding 15px

.color-bar
  height 30px
  @extend .no-float
  > div
    @extend .float-left
    height 100%
    width 20% // 5 bars
