@require '../variables'
@require '../util'
@require '../base'

.page-content
  position relative

  header h2
    margin-top 10px

  p
    @extend .text-column

@media screen and (max-width: mobile-width)
  .page-content
    padding-left 20px
    padding-right 20px
