@require '../variables'
@require '../util'
@require '../base'

.page__content
  position relative

.page__title

.page__description
  margin-top 10px

  p
    @extend .text-column

@media screen and (max-width: mobile-width)
  .page__content
    padding-left 20px
    padding-right 20px
