@require '../variables'
@require '../util'
@require '../base'

.page__content
  position relative

  p
    @extend .text-column

.page__description
  padding-top 10px


@media screen and (max-width: mobile-width)
  .page__content
    padding-left 20px
    padding-right 20px
