@import '../variables.css';
@import '../util.css';
@import '../base.css';

/* #social-nav extends .no-float (see util.css) */
#social-nav {
  float: none;
  clear: both;
  overflow: hidden;
  display: inline-block;
  margin: 40px 0;
}

/* #social-nav a extends .float-left (see util.css) */
#social-nav a {
  display: block;
  float: left;
  clear: none;
  transition: all 0.3s;
  width: 64px;
  height: 52px;
  margin: 10px;
  text-decoration: none !important;
  line-height: 30px;
  color: #999;
}

@media screen and (max-width: 480px) {
  #social-nav a {
    width: 100%;
    font-size: 4rem;
  }
}

#social-nav span.fa, #social-nav span.devicons {
  transition: all 0.3s;
}

#social-nav .fa {
  font-size: 2.4rem;
  padding-top: 4px;
}

#social-nav .devicons {
  font-size: 2.8rem;
}

#social-nav .devicons-npm {
  font-size: 4rem;
  line-height: 0.8;
}

#social-nav :hover .fa-twitter {
  color: var(--color-twitter);
}

#social-nav :hover .devicons-github_badge {
  color: var(--color-github);
}

#social-nav :hover .devicons-npm {
  color: var(--color-npm);
}

#social-nav :hover .devicons-ruby_rough {
  color: var(--color-rubygems);
}

#social-nav :hover .fa-flickr {
  color: var(--color-flickr);
}

#social-nav :hover .fa-instagram {
  color: var(--color-instagram);
}

#social-nav .text {
  display: none;
}
