table
  width 100%
  text-align left
  border-collapse collapse
  font-size 1rem
  display table !important
  td
    padding 10px
    line-height 1

.table-ruled
  td
    border-bottom 1px solid #DDD

.table-key-value
  td
    width 50%

.table-hover-rows
  tr:hover
    background white
