// mainColor = #66AD0D
// mainColor = #D8006C
mainColor = black
headingColor = black
textColor = #333
backgroundColor = #F5F5F5

cardWidth = 320px
cardGutterWidth = 40px
mainColumnWidth = cardWidth*3 + cardGutterWidth*3

// mixins

columns(n)
  -webkit-columns n
  -moz-columns n
  columns n

column-gap(n)
  -webkit-column-gap n
  -moz-column-gap n
  column-gap n

column-break-inside(n)
  column-break-inside n
  -webkit-column-break-inside n
  -moz-column-break-inside n
  // Firefox workaround
  // http://stackoverflow.com/a/7785711
  page-break-inside n


// @extend classes

.no-float
  float none
  clear both
  overflow hidden

.vanilla-list
  list-style none
  margin 0
  padding 0
  li
    list-style none

.faint
  opacity: 0.5

.unpadded
  padding: 0

.small-text
  font-size 0.9rem

// styles

*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html, body
  width 100%
  height 100%

body
  font-family Georgia, serif
  color textColor
  background backgroundColor
  padding 30px
  margin 0
  transition all 0.3s
  font-size 1.2rem

#content
  max-width mainColumnWidth
  margin 0 auto
  position relative

a
  color mainColor
  text-decoration none
  // transition all 0.2s
  cursor pointer
  outline none
  &:hover
    text-decoration underline

p
  line-height 1.6
  padding: 10px 0
  margin: 0
  a
    text-decoration underline
    color textColor
    padding-right 3px
    padding-left 3px
    margin-right -3px
    margin-left -3px
    &:hover
      color backgroundColor
      background mainColor
      text-decoration none

h1,h2,h3
  color headingColor
  line-height 1.2
  transition all 0.3s
  position relative
  a
    &.permalink
      display inline-block
      margin-left 8px
      color rgba(textColor, 0.4)
      transition all 0.5s
      text-decoration none
      opacity 0

h1,h2,h3,h4
  text-align center

h1
  display inline-block
  font-weight normal
  font-size 2rem
  margin 0
  padding 60px 0 0 0

h2
  font-weight normal
  font-size 2rem
  margin 60px 0 20px 0
  padding 0
  a
    display block
    color headingColor
    &:hover
      text-decoration none

h3
  font-weight normal
  font-size 1rem
  margin 0
  padding 0
  color mainColor
  a
    padding 0
    color mainColor

ul.ruled-list
  @extend .vanilla-list
  li
    border-bottom 1px solid rgba(0,0,0,0.1)


// ul.columnar
//   @extend .vanilla-list
//   columns 3
//   column-gap 40px
//
//   > li
//     column-break-inside avoid
//     padding 5px
//     padding-bottom 20px
//
//   @media only screen and (max-width: mobileMaxWidth)
//     columns 1

ul.cards
  @extend .vanilla-list
  display block
  // background yellow
  float none
  clear both
  overflow hidden

.card
  display block
  float left
  width cardWidth
  padding 0
  margin 0
  margin-left: (cardGutterWidth/2)
  margin-right: (cardGutterWidth/2)
  // margin-bottom 20px

.card-thumbnail
  width 100%
  height 240px
  overflow hidden
  background white
  img
    width: 100%

.card-details
  height 100px
  padding-top 10px
  overflow hidden
  text-align center

// @media screen and (max-width: 1320px)

footer
  margin-top 100px

@media screen and (max-width: 480px)

  h1
    font-size 3.2rem
    font-weight normal

  h2
    font-size 2rem
