// mainColor = #66AD0D
mainColor = #D8006C
backgroundColor = white
headingColor = black
textColor = #333
columnWidth = 580px
imageWidth = 600px
sidebarWidth = 280px
barColor = black
barTextColor = white

*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html, body
  width 100%
  height 100%

body
  font-family "PT Serif", helvetica, arial
  color textColor
  background backgroundColor
  padding 0
  margin 0
  transition all 0.3s

  &.disabled
    padding-left sidebarWidth
    #toc
      left 0
    #toggle
      transform rotate(45deg)
      -ms-transform rotate(45deg)
      -webkit-transform rotate(45deg)
      opacity 1
      border-color mainColor
      &:before, &:after
        background mainColor
    section
      // opacity 0.5

#toggle
  opacity 0.2
  transition all 0.3s
  position absolute
  top 20px
  left 20px
  z-index 101
  background backgroundColor
  border 3px solid textColor
  border-radius 100%
  display block
  width 32px
  height 32px
  &:before, &:after
    display block
    position absolute
    content ""
    top 50%
    left 50%
    background textColor
    display block
    -webkit-transform translate(-50%, -50%)
    transform translate(-50%, -50%)
  &:before
    width 3px
    height 13px
  &:after
    width 13px
    height 3px

#bar
  h3
    line-height 10
    padding-left 20px
    text-align center

#toc
  transition all 0.3s
  position absolute
  z-index 100
  background backgroundColor
  color textColor
  max-width sidebarWidth
  padding 25px
  top 50px
  left sidebarWidth * -1
  a
    color textColor
    text-decoration none
  a.section
    color mainColor
    font-family "roboto slab"
    font-size 1.1rem
    font-weight normal

  ul.things
    padding 10px 0 10px 0px
    li
      margin 0
      padding 2px 0
      font-size 0.8rem
      a
        opacity 0.7
        transition all 0.2s
        &:hover
          opacity 1
          text-decoration underline

#images
  line-height 0
  -webkit-column-count 3
  -webkit-column-gap 0px
  -moz-column-count 3
  -moz-column-gap 0px
  column-count 3
  column-gap 0px
  img
    width 100% !important
    height auto !important

section

  > article
    margin-left auto
    margin-right auto
    position relative
    max-width columnWidth
    padding 0 20px

    img
      max-width 50%
      margin 0 auto
      display block
      position relative
      margin-top 50px


  &.first
    display block
    position relative
    height 100%
    width 100%
    background transparent url("/assets/images/down-arrow.svg") no-repeat bottom center

    > article
      margin 0
      display block
      float none
      max-width 90%
      max-height 90%
      position absolute
      width imageWidth + columnWidth
      top 50%
      left 50%
      -webkit-transform translate(-50%, -50%)
      transform translate(-50%, -50%)

      img
        float left
        max-width 500px
        max-height 500px
      aside
        margin-left 40px
        float left
        max-width 500px
        p
          font-size 18px

a
  color mainColor
  text-decoration none
  transition all 0.2s
  cursor pointer
  outline none
  &:hover
    text-decoration underline

p
  font-size 1.2rem
  line-height 1.6
  padding: 10px 0
  margin: 0
  a
    text-decoration underline
    color textColor
    padding-right 3px
    padding-left 3px
    margin-right -3px
    margin-left -3px
    &:hover
      color backgroundColor
      background mainColor
      text-decoration none
  &.paltry
    font-size 13px
    opacity 0.7
    padding-top 0
    font-style italic

h1,h2,h3
  font-family 'roboto slab'
  color headingColor
  line-height 1.2
  transition all 0.3s
  position relative
  a
    &.permalink
      display inline-block
      margin-left 8px
      color rgba(textColor, 0.4)
      transition all 0.5s
      text-decoration none
      opacity 0

h1
  display inline-block
  font-weight normal
  font-size 4rem
  margin 0
  padding 60px 0 0 0

h2
  font-weight normal
  font-size 4rem
  margin 60px 0 20px 0
  padding 0
  a
    display block
    color headingColor
    &:hover
      text-decoration none

h3
  font-weight normal
  font-size 1.4rem
  margin 0
  padding 0
  color mainColor
  a
    padding 0
    color mainColor

  em
    padding-left 10px
    font-style normal
    font-weight normal
    font-size 16px
    color #999

ul
  margin 0
  padding 0
  list-style none
  li
    padding 25px 0
    &:hover
      a.permalink
        opacity 1
    &:target
      margin-bottom 100px
      h1,h2,h3
        position relative
        &:before
          position absolute
          left 0
          bottom 0
          color mainColor
          content "\00BB"
          margin-left -20px

footer
  margin 200px 0 30px 0
  p
    // font-size 18px
    text-align center
    a
      text-decoration underline
      &.unstyled
        text-decoration none
        font-size 48px

.byline
  text-align center
  padding 60px 0
  opacity 0.6

form
  input
    display block
    min-width: 100%
    font-family "PT Serif", helvetica, arial
    font-size 1em
    padding 5px
    margin 15px 0
    webkit-appearance none
    outline-color mainColor
    transition all 0.3s
    &.honey
      height 0
      margin 0
      padding 0
    &[type=submit]
      font-family 'roboto slab'
      border none
      background mainColor
      color backgroundColor
      cursor pointer
      line-height 1.2
      padding 18px 20px
      display inline-block
      border-radius 4px
      margin 0
      &:focus, &:hover
        background darken(mainColor, 3)

@media screen and (max-width: 1320px)

  h1
    font-size 5.2rem
    font-weight normal

  section.first
    display block
    position relative
    height auto
    width auto
    background none

    > article
      margin 0 auto
      display block
      float none
      max-width columnWidth
      max-height none
      position relative
      width auto
      top 0
      left 0
      -webkit-transform translate(0%, 0%)
      transform translate(0%, 0%)

      img
        margin-top 60px
        float none
        max-width 100%
        max-height 100%

      aside
        margin 0
        float none
        max-width auto

@media screen and (max-width: 480px)

  #toggle
    opacity 0

  h1
    font-size 3.2rem
    font-weight normal

  h2
    font-size 2rem
