mainColor = #00b223
backgroundColor = white
headingColor = black
textColor = #333
columnWidth = 580px
imageWidth = 600px

*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html, body
  width 100%
  height 100%

body
  // font-family 'roboto', helvetica, arial
  // font-family 'helvetica neue', helvetica, arial
  font-family "open sans", helvetica, arial
  color textColor
  background backgroundColor
  padding 0
  margin 0
  transition all 0.3s

section > article
  margin-left auto
  margin-right auto
  position relative
  max-width columnWidth
  padding 0 20px

section.first
  display block
  position relative
  height 100%
  width 100%
  background transparent url("/assets/images/down-arrow.svg") no-repeat bottom center

  > article
    margin 0
    display block
    float none
    max-width 90%
    max-height 90%
    // background grey
    // overflow hidden
    position absolute
    width imageWidth + columnWidth
    top 50%
    left 50%
    -webkit-transform translate(-50%, -50%)
    transform translate(-50%, -50%)

    img
      float left
    aside
      margin-left 40px
      float left
      max-width 500px

      // background #EEE

a
  color mainColor
  text-decoration none
  transition all 0.2s
  &:hover
    text-decoration underline

p
  font-size 1rem
  line-height 1.5
  padding: 10px 0
  margin: 0
  a
    text-decoration underline
    color textColor
    padding-right 3px
    padding-left 3px
    margin-right -3px
    margin-left -3px
    &:hover
      color backgroundColor
      background mainColor
      text-decoration none
  &.paltry
    font-size 13px
    opacity 0.7
    padding-top 0
    font-style italic

h1,h2,h3
  font-family 'roboto slab'
  color headingColor
  line-height 1.2
  transition all 0.3s

h1
  display inline-block
  font-weight normal
  font-size 5rem
  margin 0
  padding 90px 0 0 0

h2
  font-weight normal
  font-size 5rem
  margin 20px 0 0px 0
  padding 10px 0 15px 0

h3
  font-weight normal
  font-size 20px
  color #CCC
  margin 0
  padding 20px 0 0px 0

  em
    padding-left 10px
    font-style normal
    font-weight normal
    font-size 16px
    color #999

ul
  margin 0
  padding 0
  list-style none
  li
    padding 10px 0

footer
  margin-top 200px

@media screen and (max-width: 1320px)

  h1
    font-size 5.2rem
    font-weight normal

  section.first
    display block
    position relative
    height auto
    width auto
    background none

    > article
      margin 0 auto
      display block
      float none
      max-width columnWidth
      max-height none
      position relative
      width auto
      top 0
      left 0
      -webkit-transform translate(0%, 0%)
      transform translate(0%, 0%)

      img
        margin-top 60px
        float none
        max-width 100%
        max-height 100%
      aside
        margin 0
        float none
        max-width auto


@media screen and (max-width: 480px)

  h1
    font-size 3.2rem
    font-weight normal

  h2
    font-size 2rem
