// mainColor = #66AD0D
// mainColor = #D8006C
mainColor = black
headingColor = black
textColor = #333
backgroundColor = #F5F5F5
twitterColor = #55ACEE

card-width = 320px
card-gutter-width = 40px
main-column-width = card-width*3 + card-gutter-width*3
card-thumbnail-height = 240px
card-details-height = 100px

text-column-width = (main-column-width/2)

// @extend classes

.no-float
  float none
  clear both
  overflow hidden

.float-left
  display block
  float left

.vanilla-list
  list-style none
  margin 0
  padding 0
  li
    list-style none

.faint, .muted
  opacity: 0.5

.unpadded
  padding: 0

.small-text
  font-size 0.9rem

.text-column-width
  margin-left auto
  margin-right auto
  max-width text-column-width

// styles

*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html, body
  width 100%
  height 100%

body
  font-family Georgia, serif
  color textColor
  background backgroundColor
  padding 0
  margin 0
  transition all 0.3s
  font-size 1.2rem
  text-align center

#content
  max-width main-column-width
  margin 0 auto
  position relative

a
  color mainColor
  text-decoration none
  cursor pointer
  outline none
  &:hover
    text-decoration underline

p
  text-align left
  line-height 1.6
  padding: 10px 0
  margin: 0
  a
    text-decoration underline
    color textColor
    padding-right 3px
    padding-left 3px
    margin-right -3px
    margin-left -3px
    &:hover
      color backgroundColor
      background mainColor
      text-decoration none

h1,h2,h3,h4
  text-align center
  font-weight normal
  color headingColor
  line-height 1.2
  transition all 0.3s
  position relative
  a
    &.permalink
      display inline-block
      margin-left 8px
      color rgba(textColor, 0.4)
      transition all 0.5s
      text-decoration none
      opacity 0

h1
  font-size 2.5rem
  margin 0
  padding 60px 0 0 0

h2
  font-size 1.4rem
  opacity 0.4
  margin 20px 0
  padding 0
  a
    display block
    color headingColor
    &:hover
      text-decoration none

h3
  font-size 1.4rem
  margin 0
  padding 0
  color mainColor
  a
    padding 0
    color mainColor

header
  margin 20px 0

#page-nav
  background darken(backgroundColor, 10%)
  font-size 1rem
  padding 10px

footer
  margin-top 100px
  text-align center
  padding-bottom 60px
  a
    padding 10px 20px
    .fa
      padding 10px
      border-radius 100px
      background black
      color white
      &.fa-twitter
        background: twitterColor


ul.ruled-list
  @extend .vanilla-list
  li
    border-bottom 1px solid rgba(0,0,0,0.1)

.home-nav
  padding 60px 10px

ul.cards
  @extend .vanilla-list
  display block
  float none
  clear both
  overflow hidden

.card
  display block
  float left
  width card-width
  padding 0
  margin 0
  margin-left (card-gutter-width/2)
  margin-right (card-gutter-width/2)
  margin-bottom 10px

.card-thumbnail
  width 100%
  height card-thumbnail-height
  overflow hidden
  background white
  img
    width: 100%

.card-details
  height card-details-height
  padding 10px 20px 0 20px
  overflow hidden
  text-align center

.card-details-title
  font-size: 1rem
  line-height 1.6

.card-details-description
  font-size: 0.9rem
  @extend .faint
  @extend .unpadded
  @extend .small-text
  text-align center
  line-height 1.4

.color-bar
  height 80px
  @extend .no-float
  > div
    @extend .float-left
    height 100%
    width 20%

.palette-dot
  display inline-block
  width 32px
  height 14px
  border-radius 52px
  margin 3px
  padding 0

.palette-dot-big
  width 24px
  height 24px
  border-radius 24px
  margin 5px

@media screen and (max-width: 480px)

  h1
    font-size 3.2rem

  h2
    font-size 2rem
