@require 'variables'
@require 'util'
@require 'global'

#page-nav
  background darken(color-background, 10%)
  font-size 1rem
  padding 10px

ul.ruled-list
  @extend .vanilla-list
  li
    border-bottom 1px solid rgba(0,0,0,0.1)

.home-nav
  padding 60px 10px

.cards
  @extend .vanilla-list
  display block
  float none
  clear both
  overflow hidden

.card
  display block
  float left
  width card-width
  padding 0
  margin 0
  margin-left (card-gutter-width/2)
  margin-right (card-gutter-width/2)
  margin-bottom 10px

.card-thumbnail
  width 100%
  height card-thumbnail-height
  overflow hidden
  background white
  img
    width: 100%

.card-details
  height card-details-height
  padding 10px 20px 0 20px
  overflow hidden
  text-align center

.card-details-title
  font-size: 1rem
  line-height 1.6

.card-details-description
  font-size: 0.9rem
  @extend .faint
  @extend .unpadded
  @extend .small-text
  text-align center
  line-height 1.4

.color-bar
  height 30px
  @extend .no-float
  > div
    @extend .float-left
    height 100%
    width 20%

.palette-dot
  display inline-block
  width 32px
  height 14px
  border-radius 52px
  margin 3px
  padding 0

.palette-dot-big
  width 24px
  height 24px
  border-radius 24px
  margin 5px

.page-content
  position relative

  p
    @extend .text-column

  figure
    @extend .main-column
    > *
      display inline-block
      max-width 100%
    img
     max-width 100%

  figcaption
    font-size 0.9rem
    font-style italic
    padding 10px
    opacity 0.6

  pre
    background color-code-background
    margin 10px 0
    padding 10px 0
    text-align left
    @media screen and (max-width: mobile-width)
      padding 10px

  code
    @extend .text-column
    color color-code-text
    font-size 1.1rem
    font-weight bold
    line-height 1.4

    .shell:before
      content "$ "
      opacity 0.4

@media screen and (max-width: mobile-width)
  .page-content
    padding-left 20px
    padding-right 20px
