@require 'variables'
@require 'util'

*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html, body
  width 100%
  height 100%

body
  font-family Georgia, serif
  color color-text
  background color-background
  padding 0
  margin 0
  transition all 0.3s
  font-size 1.2rem
  text-align center

a
  color color-main
  text-decoration none
  cursor pointer
  outline none
  &:hover
    text-decoration underline

p
  text-align left
  line-height 1.6
  padding 10px 0
  margin 0
  a
    text-decoration underline
    color color-text
    padding-right 3px
    padding-left 3px
    margin-right -3px
    margin-left -3px
    &:hover
      color color-background
      background color-main
      text-decoration none

h1,h2,h3,h4
  text-align center
  font-weight normal
  color color-heading
  line-height 1.2
  transition all 0.3s
  position relative
  a
    &.permalink
      display inline-block
      margin-left 8px
      color rgba(color-text, 0.4)
      transition all 0.5s
      text-decoration none
      opacity 0

h1
  font-size 2.5rem
  margin 0
  padding 60px 0 0 0

h2
  font-size 1.4rem
  opacity 0.4
  margin 20px 0
  padding 0
  a
    display block
    color color-heading
    &:hover
      text-decoration none

h3
  font-size 1.4rem
  margin 0
  padding 0
  color color-main
  a
    padding 0
    color color-main

header
  margin 20px 0

footer
  margin-top 100px
  text-align center
  padding-bottom 60px

.footer-inner
  @extend .no-float
  display inline-block

  a
    @extend .float-left
    transition all 0.3s
    width 54px
    height 42px
    font-size 2rem
    margin 10px
    text-decoration none !important
    line-height 30px
    color #999
    // border 1px solid red

  span.fa, span.devicons
    transition all 0.3s

  .fa
    font-size 1.8rem
    padding-top 4px
  .devicons
    font-size 2.2rem
  .devicons-npm
    font-size 3rem
    line-height 0.8

  :hover .fa-twitter
    color color-twitter
  :hover .devicons-github_badge
    color color-github
  :hover .devicons-npm
    color color-npm
  :hover .devicons-ruby_rough
    color color-rubygems
  :hover .fa-instagram
    color color-instagram

  .text
    display none


@media screen and (max-width mobile-width)

  h1
    font-size 3.2rem

  h2
    font-size 2rem
