// color-main = #66AD0D
// color-main = #D8006C
color-main = black
color-heading = black
color-text = #333
color-background = #F5F5F5
color-twitter = #55ACEE
color-code-background = #333
color-code-text = #CCC

card-width = 320px
card-gutter-width = 40px
main-column-width = card-width*3 + card-gutter-width*3
card-thumbnail-height = 240px
card-details-height = 100px

text-column-width = (main-column-width/2)

mobile-width = 640px
