<div class="color-bar">
  {{#if page.images.thumbnail.colors}}
    {{#each page.images.thumbnail.colors}}
      <div style="background:{{this}};"></div>
    {{/each}}
  {{else if page.images}}

  {{/if}}
</div>

<div class="breadcrumbs muted">
  <a href="/">zeke.sikelianos.com</a>
  {{#if page.grandparent}} ￫ <a href="{{page.grandparent}}">{{page.grandparentName}}</a>{{/if}}
  {{#if page.parent}} ￫ <a href="{{page.parent}}">{{page.parentName}}</a>{{/if}}
</div>

<article>
  <div class="page__content">
    <header>
      <h1>{{page.title}}</h1>
      {{#if page.description}}
        <h2>{{page.description}}</h2>
      {{/if}}
    </header>

    {{{page.content.processed}}}
  </div>
</article>
