body
  font-family: "Helvetica Neue", helvetica, arial
  padding: 20px
  font-size: 18px
  line-height: 1.4
  max-width: 640px

h1
  color: #00AAF2

#user
  font-family: "Helvetica Neue", helvetica, arial
  font-size: 18px
  padding: 5px