@require 'variables'

.vanilla-list
  list-style none
  margin 0
  padding 0
  li
    list-style none

.ruled-list
  @extend .vanilla-list
  li
    border-bottom 1px solid rgba(0,0,0,0.1)

.faint, .muted
  opacity: 0.5

.text-center, .centered
  text-align center

.text-small
  font-size 0.9rem

.unpadded
  padding: 0

.small-text
  font-size 0.9rem

.lowercase
  text-transform lowercase

// Layout

.column
  display block
  margin-left auto
  margin-right auto

.text-column
  @extend .column
  max-width text-column-width

.main-column
  @extend .column
  max-width main-column-width

.no-float, .float-none
  float none
  clear both
  overflow hidden

.float-left
  display block
  float left
  clear none

.full-width
  width 100%

.margin--top
  margin-top 30px

.margin--bottom
  margin-bottom 30px

.margin--vertical
  @extend .margin--top
  @extend .margin--bottom
