// color-main = #66AD0D
// color-main = #D8006C
color-main = black
color-heading = black
color-text = #333
color-quote = #666
color-quote-border = #DDD
color-background = #F5F5F5
color-code-background = #EAEAEA
color-code-text = #384452

color-twitter = #55ACEE
color-github = #000
color-npm = #CB3837
color-email = #CCC
color-rubygems = #E9573F
color-flickr = #FF1981
color-instagram = #004879

card-width = 320px
card-gutter-width = 40px
card-thumbnail-height = 240px
card-details-height = 100px
card-background-color = white
width-of-three-columns = card-width*3 + card-gutter-width*3
width-of-two-columns = card-width*2 + card-gutter-width*2
width-of-one-column = card-width*1 + card-gutter-width*1

text-column-width = 740px

mobile-width = 480px

base-font-size = 1.1rem
