// color-main = #66AD0D
// color-main = #D8006C
color-main = black
color-heading = black
color-text = #333
color-background = #F5F5F5
color-code-background = #E6E6E6
color-code-text = #384452

color-twitter = #55ACEE
color-github = #000
color-npm = #CB3837
color-email = #CCC
color-rubygems = #E9573F
color-flickr = #FF1981
color-instagram = #004879

card-width = 320px
card-gutter-width = 40px
main-column-width = card-width*3 + card-gutter-width*3
card-thumbnail-height = 240px
card-details-height = 100px

text-column-width = (main-column-width/2)

mobile-width = 640px

base-font-size = 1.2rem
